DATABASE_HOST=localhost:5432
DATABASE_NAME=mydb
DATABASE_USER=myuser
DATABASE_PASSWORD=mypassword

KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=unit-events
KAFKA_GROUP_ID=alert-processor-group
KAFKA_ALERTS_TOPIC=alerts
KAFKA_RULES_UPDATES_TOPIC=alert-rules-updates
KAFKA_RULES_UPDATES_GROUP_ID=alert-processor-rules-group

KAFKA_SASL_USERNAME=kafka-user
KAFKA_SASL_PASSWORD=kafka-password
KAFKA_SASL_MECHANISM=SCRAM-SHA-256
KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
KAFKA_FETCH_WAIT_MAX_MS=100
KAFKA_FETCH_MIN_BYTES=1
KAFKA_SESSION_TIMEOUT_MS=6000
KAFKA_HEARTBEAT_INTERVAL_MS=2000
KAFKA_AUTO_OFFSET_RESET=latest
